<div class="main-page">  
  <div class="title-name">
    <h1>Hi-there<h1>

  </div>
  <div class="wrapper">
    <div class="side-bar">
      <%= render partial: "side-bar"%>
    
      <div class="options">
        <ul class="lists">
          <li class="list"><%= link_to "My account",user_path(current_user.id),class: "option" %></li>
          <li class="list"><%= link_to "post", new_article_path, class: "option"%></li>
        </ul>
      </div>
    </div>
    <div class="chat">
      <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= f.text_field :keyword, class: "search-input" %>
        <%= f.submit "search", class: "search-btn" %>
      <% end %>

      <div class="contents-row">
        <% @articles.each do |article| %>
          <%= render partial: "send-form", locals: { article: article } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  