<div class="main-page">  
  <div class="title-name">
    <h1>Hi-there</h1>
  </div>
  <div class="wrapper">
    <div class="side-bar">
      <%= render partial: "side-bar"%>
      <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, class: "search-input" %>
        <%= form.submit "search", class: "search-btn" %>
      <% end %>
    </div>
    <div class="chat">
      <div class="contents row">
        <% @articles.each do |article| %>
          <%= render partial: "send-form", locals: { article: article } %>
        <% end %>
      </div>
    </div>
  </div>
</div>