<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>My-account</h2>
    </div>
    <%= link_to "Edit", edit_user_path(current_user.id),class: "my-account" %>
    <div class='account-page__inner--right user-form'>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">nickname</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">self-introduction</th>
            <td class="table__col2"><%= @user.self_introduction %></td>
          </tr>
          <tr>
            <th class="table__col1">country</th>
            <td class="table__col2"><%= @user.country.name%></td>
          </tr>
          <tr>
            <th class="table__col1">gender</th>
            <td class="table__col2"><%= @user.gender.name %></td>
          </tr>
          <tr>
            <th class="table__col1">age</th>
            <td class="table__col2"><%= @user.age %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

