<%= render "head-name"%>

<div class="base-row">
  <div class="base">
    <div class="contents row">
      <%if user_signed_in? && current_user.id == @send.user.id %> 
        <div class="more">
          <div class="more_lists">
            <div class="edit-page">
              <%= link_to 'edit', edit_send_path(@send.id), class: "edit" %>
            </div>
            <div class="destroy-page">
              <%= link_to 'delete', send_path(@send.id), class: "destroy", method: :delete %>
            </div>
          </div>
        </div>
      <%end%>
    </div> 
    <div class="image">
      <%= image_tag @send.image.variant(resize: '380x380'), class: "item-img" if @send.image.attached? %>
    </div>
    <div class=contents>
      <p class="break-all">
        <%= @send.content %>
      </p>
    </div>
    <div class="prototype__comments">
      <% if user_signed_in? %>
        <%= form_with(model: [@send,@comment],local: true) do |f|%>
          <div class="field">
            <%= f.label :comment, "" %><br />
            <%= f.text_field :comment %>
          </div>
          <div class="actions">
            <%= f.submit "comment", class: :form__btn  %>
          </div>
        <% end %> 
      <%end%>

      <ul class="comments_lists">
        <% @comments.each do |comment| %>
          <li class="comments_list">
            <%= link_to comment.user.name, user_path(comment.user.id), class: :comment_user %>
            <%= comment.comment %>
          </li>
        <%end%>
      </ul>
    </div>

  </div>
</div>

